<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Project categories are now available</h2>
    <p>Discover the different domains in which you can get involved:</p>

    <ul class="categories-list">
        <% categories.forEach(category => { %>
            <li class="category-item"><%= category.name %></li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>

