    <footer>
        <p>&copy; <%= new Date().getFullYear() %> CSE 340 Service Network.
            <!--  Week03 #1 STEP 3-->
        <% if (NODE_ENV === 'development') {  %>
            (Development mode)
        <% } %>

        </p>
    </footer>
</body>
</html>