<!-- Week03 #2 step 2 - 500 Error Page -->

<%- include('../partials/header') %>
<main>
    <h1>Something went wrong</h1>
    <p>We are experiencing technical difficulties. <strong>Our team has been notified and is working to fix the issue</strong> .</p>
    <p>Return to the <a href="/">homepage</a> to continue browsing.</p>

    <% if (NODE_ENV === 'development') { %>
        <details open>
            <summary>Error Details (Development only)</summary>
            <pre><%= error %></pre>
            <pre><%= stack %></pre>
        </details>
    <% } %>
</main>
<%- include('../partials/footer') %>